body{
	font-size: 14px;
}
.flex{
	display: flex;
	flex: 1;
}
.flex-column{
	flex-direction: column;
}
.flex1{
	flex: 1;
}
.just-between{
	justify-content: space-between;
}
.just-center{
	justify-content: center;
}
.align-center{
	align-items: center;
}
.back{
	background-color: rgba(0,0,0,.4);
}
.color-fff{
	color: #fff;
}
.mt-10{
	margin-top: 10px;
}
.ml-10{
	margin-left: 10px;
}
input[type='checkbox']{
	background: transparent;
}
ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
#subList li{
    list-style: none;
    color: #fff;
    padding:10px;
    box-sizing: border-box;
}
#subList li .title{
	font-size: 14px;
}
#subList-online li img{
	width: 30px;
	vertical-align: middle;
	margin-right: 5px;
}
#subList-online li{
	padding: 5px 10px;
	color: #fff;
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
}
.title_content{
	background: rgb(243,245,246);
    padding: 1px 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #000;
    line-height: 19px;
    color: #333;
    display: inline-block;
    margin-top: 5px;
}
#subList img{
	margin-right: 5px;
}

.main{
	position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-image: url(../img/bg.jpg);background-size: 100% 100%;padding:  10px;box-sizing: border-box
	/*display: flex;flex: 1;justify-content: center;align-items: center;*/
}
.gs-title{
	color: #fff;
	margin-bottom: 15px;
}
.gs-live-in{
	padding: 0px 5px;text-align: center;margin-right: 8px;background: #bc0a0a;color: #fff;
}
.content{
	
}
.content-left{
	width: 25%;
}
.content-right{
    width: 25%;
}
.content-left-top{
	height: 15rem;
	position: relative;
}
.content-left-bottom{
	height: 30rem;
}
.content-center{
	flex: 1;
	
}
.content-bottom {
	height: 60px;
}
.gs-userlist-count{
	height: 33px;
    line-height: 33px;
    padding: 0 10px;
    background: rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(255,255,255,.15);
    font-size: 12px;
}
.quiz{
	border-top :1px solid rgba(255,255,255,.15);
	height: 80px;
	font-size: 12px;
	padding: 5px;
	box-sizing: border-box;
}
.quiz textarea{
	font: 12px "Microsoft YaHei";
    height: 33px;
    resize: none;
    overflow: auto;
    outline: none;
    padding: 2px;
    padding-right: 20%;
    min-height: 33px;
    background: transparent;
    color: #fff;
    vertical-align:bottom;
    width: 55%;
}
.quiz .btn{
	width: 45px;
    height: 40px;
    line-height: 40px;
    border: 0;
    cursor: pointer;
    outline: none;
    border: 0px;
    text-align: center;
    font: 12px/1.5 Simsun, Tahoma, Helvetica, Arial;
    background-color: #0298d4;
    color: white;
}
.stutent-list{
    overflow-y: scroll;
}
.subList-online{
	overflow-y: scroll;
}
::-webkit-scrollbar-track-piece {
background-color:#1F2C38;
}
::-webkit-scrollbar {
width:9px;
height:9px;

}
::-webkit-scrollbar-thumb {
background-color:#0298D4;
background-clip:padding-box;
min-height:28px;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background-color:#bbb;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: none;
}
.content-left-models{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	top: 0;
	left: 0;
	display: none;
}
.online-btn{
	height: 2rem;
	width: 5rem;
	background-color: #0298d4;
	color: #fff;
	text-align: center;
	line-height: 2rem;
	border-radius: 5px;
	cursor: pointer;
	transition: .6s;
	position: relative;
}
.online-btn:hover{
	opacity: .7;
}
.online-btn input{
	width: 5rem;
	height: 2rem;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}
.layui-layer-hui{
	background: #fff !important;
	color: #333 !important;
}
.material li{
	padding: 10px 5px;
	color: #fff;
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,.3);
	color: #333;
}
.material_btn,#worklist{
	background-color: #0298d4;
    color: #fff;
    padding: 3px 15px;
    border-radius: 5px;
    transition: .6s;
    border: none;
    text-decoration: none;
}
#worklist{
	display: inline-block;
	cursor: pointer;
	padding: 5px 15px;
}
.material_btn:hover{
	opacity: .7;
}
#send{
	margin-right: 5px;
}
