.gs-userlist-count{
	height: 33px;
    line-height: 33px;
    padding: 0 10px;
    background: rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(255,255,255,.15);
    font-size: 12px;
}
.quiz{
	border-top :1px solid rgba(255,255,255,.15);
	height: 80px;
	font-size: 12px;
	padding: 5px;
	box-sizing: border-box;
}
.quiz textarea{
	font: 12px "Microsoft YaHei";
    height: 33px;
    resize: none;
    overflow: auto;
    outline: none;
    padding: 2px;
    padding-right: 20%;
    min-height: 33px;
    background: transparent;
    color: #fff;
    vertical-align:bottom;
    width: 55%;
}
.quiz .btn{
	width: 45px;
    height: 40px;
    line-height: 40px;
    border: 0;
    cursor: pointer;
    outline: none;
    border: 0px;
    text-align: center;
    font: 12px/1.5 Simsun, Tahoma, Helvetica, Arial;
    background-color: #0298d4;
    color: white;
}
